.main {
    height: 500px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 20px;
}

.left, .right {
    height: 460px;
    width: 160px;
    border: 5px solid blue;
    position: relative;
}

.window {
    position: relative;
    margin: 20px;
    height: 100px;
    width: 100px;
    border: 5px solid red;
    background-color: aqua;
    z-index: 99;
}

.windowx {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    z-index: 0;
}

.open {
    transform: translate(0, 20px) skew(0deg, -20deg);
   
}